<%= stylesheet_link_tag 'forms' %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="view-area">
        <div class="form-container">
            <p class="form-title">Forgot your password?</p>

            <div class="form-field-area">

                <div class="field form-field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-field-input" %>
                </div>

                <div class="actions">
                    <%= f.submit "Reset password", class:"form-button" %>
                </div>

            </div>
        </div>
    </div>
<% end %>