<%= form_for(@event) do |f|  %>

    <div class="field">
        <%= f.label "Date / time" %> <br />
        <%= f.datetime_select :dateTime, :ampm => true, :minute_step => 15 %>
    </div>

    <div class="field">
        <%= f.label :location %> <br />
        <%= f.text_field :location, autofocus: true %>
    </div>

    <div class="actions">
        <%= f.submit "Submit" %>
    </div>
    
<% end %>


