<div class="section">
    <div class="container">
        <div class="columns is-centred">
            <div class="column is-half">
                <h1 class="title">Upcoming events</h1>
                <% upcomingEvents = @events.select {|event| event.dateTime >= Time.now }%>%
                <% upcomingEvents.each do |event| %>
                    <div><%= event.dateTime %></div>
                    <div><%= event.location %></div>
                    <div>Organised by: <%= event.organiser.firstName %> &nbsp; <%= event.organiser.surname %></div>

                    <% if current_user && event.organiser != current_user && !event.event_registrations.include?(current_user) %>
                        <%= link_to "Join event", create_attendee_path(:user_id => current_user.id, :id => event.id), method: :post %>

                    <%elsif  current_user && event.organiser != current_user && event.event_registrations.include?(current_user) %>
                        <div>You have registered for the event</div>
                        <%= link_to "Remove from my events", destroy_attendee_path(:user_id => current_user.id, :id => event.id), method: :delete, data: { confirm: "Please confirm if you would like to remove this from your events" } %>

                    <% end %>
                    
                    <%= link_to "Event information", event_path(event.id) %>
                    <br/>
                <% end %>
            </div>
        </div>
    </div>
</div>