<%= stylesheet_link_tag 'events' %>

<div class="section">
    <div class="container">
        <div class="columns is-centred">
            <div class="column is-half">
                <h1>Upcoming events</h1>

                <!--Reusable container to house a collection of cards-->
                <section class="card-collection">
                    <% upcomingEvents = @events.select {|event| event.dateTime >= Time.now } %>
                    <% upcomingEvents.each do |event| %>

                    <%= render 'event_card', :event => event, :current_user => current_user %>

                        <div><%= event.price %></div>
                        <div><%= event.capacity %></div>
                        <div><%= event.category %></div>


                        <br/>
                    <% end %>
                </section>

                
            </div>
        </div>
    </div>
</div>