<div class="section">
    <div class="container">
        <div class="columns is-centred">
            <div class="column is-half">
                <h1 class="title">Event View</h1>

                <div><%= @event.dateTime %></div>
                <div><%= @event.location %></div>
                <div>Organised by: <%= @event.organiser.firstName %> <%= @event.organiser.surname %></div>
                <% if current_user && @event.organiser != current_user && !@event.event_registrations.include?(current_user) %>
                    <%= link_to "Join event", create_attendee_path(:user_id => current_user.id, :id => @event.id), method: :post %>
                <% else %>
                    <div>You have registered for the event</div>
                <% end %>
                <br/>

                <% if current_user == @event.organiser %>
                    <% puts @event.id %>
                    <%= link_to "Update", edit_event_path(@event.id) %>
                    <%= link_to "Delete", event_path(@event.id), method: :delete, data: { confirm: "Please confirm if you would like to delete this event" } %>
                <% else %>
                    
                <% end %>

                <h2>Attendees</h2>
                <% @event.event_registrations.each do |attendee| %>
                    <div><%= attendee.firstName %> <%= attendee.surname %></div>
                <% end %>
                <br/>
                <br/>
                <%= link_to "Back", events_path %>
                
            </div>
        </div>
    </div>
</div>