<%= stylesheet_link_tag 'profile' %>

<div class="view-area">
    <div class="profile-view">

        <div class="view-details">
            <p class="view-title"><%= current_user.firstName %> <%= current_user.surname %></p>
            <p class="view-subtitle">Your events</p>
            <% current_user.organised_events.each do |event| %>
                <p class="view-event"><span style="font-weight: bold; color: rgb(255, 108, 68);"><%= event.dateTime.strftime("%a, %b %d, %H:%M") %></span> - <%= event.title %> - <%= link_to "View event", event_path(event.id) , style: "text-decoration: underline; color: black;"%>
                </p>
            <% end %>
            <p class="view-subtitle">Events you've registered for</p>
            <% current_user.event_attendances.each do |event| %>
                <p class="view-event"><span style="font-weight: bold; color: rgb(255, 108, 68);"><%= event.dateTime.strftime("%a, %b %d, %H:%M") %></span> - <%= event.title %> - <%= link_to "View event", event_path(event.id) , style: "text-decoration: underline; color: black;"%></p>
            <% end %>
        </div>       
    </div>
</div>
