<div class="section">
    <div class="container">
        <div class="columns is-centred">
            <div class="column is-half">
                <h1 class="title"><%= current_user.firstName %>'s events</h1>
                <h2>Organiser</h2>
                <% current_user.organised_events.each do |event| %>
                    <div><%= event.dateTime %></div>
                    <div><%= event.location %></div>
                    <div>Organised by: <%= event.organiser.firstName %> &nbsp; <%= event.organiser.surname %></div>
                <% end %>

                <h2>Attending</h2>
                <% current_user.event_attendances.each do |event| %>
                    <div><%= event.dateTime %></div>
                    <div><%= event.location %></div>
                    <div>Organised by: <%= event.organiser.firstName %> &nbsp; <%= event.organiser.surname %></div>
                <% end %>

                <h2>Past</h2>
            </div>
        </div>
    </div>
</div>

<nav class = "navbar">
    <div class="navbar-menu">
        <div class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                    <%= link_to "Organise a new event", new_event_path %>

                </p>
            </div>
        </div>
    </div>
</nav>