<!DOCTYPE html>
<html>
  <head>
    <title>WhatNow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Nav bar partial -->
    <%= render "shared/navbar" %>

    <!--Devise authentication flash messages-->
    <div class="notice-styled">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </div>
    
    <%= yield %>
    
  </body>
</html>
